<!DOCTYPE html>
<html>
  <head>
    <title>CustomerSupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="CustomerSupport">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><!--left sidebar--></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <ui-view></ui-view>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><!--right sidebar--></div>
      </div>
    </div>
  </body>
</html>
